<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is about page.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque fugit autem ab pariatur corrupti tenetur velit commodi reiciendis delectus amet doloribus aspernatur at nulla, error temporibus voluptate quaerat praesentium voluptatum.
    </p>
    <hr/>
    <!-- using fragment -->
     <div th:insert="~{base :: parent('one','two')}">

     </div>
</body>
</html>