<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is Service Page.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni corporis quae facere pariatur, nihil velit tempore! Consequatur quod illo minima itaque ea, quaerat eum laudantium, porro illum velit cum sunt.</p>
    <div th:insert="~{base::parent('ServiceOne','ServiceTwo')}"></div>
</body>
</html>